<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>


<ul>
 <li><a routerLink="proyecto">Home</a></li>
  <li><a routerLink="proyecto-servicios">Servicios</a></li>
  <li><a routerLink="comprar-tokens">Comprar Tokens</a></li>
  <li><a routerLink="ingreso">Iniciar Sesion</a></li>
</ul><br>

<img src="https://www.logoground.com/uploads/201854342018-01-032697258crypto_cloud.jpg"

width="400"
height="300"
>
<h1>Registrese</h1>
<p>Ingrese todos los datos correctamente</p>

Nombre:<input type="text" [(ngModel)]="Nombre"><br>
Apellido:<input type="text"  [(ngModel)]="Apellido"><br>
Correo: <input type="text" [(ngModel)]="correo"><br>
Telefono: <input type="text" [(ngModel)]="Telefono"><br>
Direccion<input type="text"[(ngModel)]="direccion"><br>
Ciudad<input type="text"[(ngModel)]="ciudad"><br>
<button name="button" type="submit">Enviar_Datos</button> 
</body>
</html>